<footer class="bg-blue">
  <div class="container bg-blue pt-5">
    <div class="row">
      <div class="col-3">
        <h3 class="copyright">
          Copyright © Centre’Auto’Ccas - Tous droits réservés
        </h3>
      </div>
      <div class="col-6">
        <ul class="condition list-unstyled text-center">
          <li>
            <a routerLink="/conditionGenerales">Conditions générales</a>
          </li>
          <li><a routerLink="mention">Mentions légales</a></li>
          <li><a routerLink="politique">Politique de confidentialité</a></li>
          <li><a routerLink="plan">Plan du site</a></li>
          <li><a routerLink="Apropos">A propos</a></li>
        </ul>
      </div>
      <div class="col-3">
        <a href="#"
          ><img
            src="assets/images/facebook-logo.svg"
            alt="user"
            width="20"
            height="20"
            class="img-fluid"
        /></a>
        <a href="#"
          ><img
            src="assets/images/twitter.svg"
            alt="search"
            width="20"
            height="20"
            class="img-fluid"
        /></a>
        <a href="#"
          ><img
            src="assets/images/instagram.svg"
            alt="user"
            width="20"
            height="20"
            class="img-fluid"
        /></a>
      </div>
    </div>
  </div>
</footer>
